CONNECTION_STRING=
DATABASE=

# If DATABASE = MYSQL
# Then CONNECTION_STRING = "server=localhost;database=DATABASE_NAME;user=root;password=PASSWORD"

# If DATABASE = SQLSERVER
# Then CONNECTION_STRING = "Server=SERVER_NAME;Database=DATABASE_NAME;Trusted_Connection=True;TrustServerCertificate=True;"